<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj3XzZ6_azth6BgVuN_sZ72QylNg1pwmw</string>
	<key>GCM_SENDER_ID</key>
	<string>467887400203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.dhysolutions.management-spa</string>
	<key>PROJECT_ID</key>
	<string>spa-product</string>
	<key>STORAGE_BUCKET</key>
	<string>spa-product.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467887400203:ios:fcbd9303d75ffbbed66e0e</string>
</dict>
</plist>